[logging]
# Levels from the Python logging module:
#    CRITICAL  50
#    ERROR     40
#    WARNING   30
#    INFO      20
#    DEBUG     10
#    NOTSET    0
level = 40

[collector]
interval = 60

[mqtt]
topic = home/sensor
host = localhost
port = 1883

[owserver]
host = localhost
port = 4304

[sensors]
weather/datetime = datetime
inside/humidity = /1F.850000000000/main/26.660000000000/HIH3600/humidity
inside/temperature = /1F.850000000000/main/10.2F0000000000/temperature
inside/pressure = /1F.DC0000000000/main/26.090000000000/B1-R1-A/pressure
outside/temperature = /1F.BF0000000000/main/10.380000000000/temperature
outside/humidity = /1F.BF0000000000/main/26.6E0000000000/HIH3600/humidity
outside/solar_radiation = /1F.BF0000000000/main/26.6E0000000000/S3-R1-A/illuminance

[calculate]
dewpoint = outside

